@import "../colors";

.user-friend {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    //border: 1px white solid;
    width: 100%;
    padding: 0 5px;

    .ufc-username {
        position: relative;
    }

    &.highlight .ufc-username::after {
        content: "";
        background-color: green;
        display: block;
        position: absolute;
        left: -5px;
        top: 0px;
        width: 5px;
        height: 5px;
        border-radius: 100%;
    }

    &.pulse .ufc-username::after {
        background-color: $pink-blood;
        animation: 1s linear newMessagePulse infinite;
    }


    .user-friend-card-small-action {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 3px;

        * {
            font-size: 14px;
        }

        .user-info-button {}

        // Anchor tag -> is disabled when 
        button {
            border: none;
        }
    }
}

@keyframes newMessagePulse {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}