p {
    margin: 0;
}

.poke-card {
    border: 1px rgba(128, 128, 128, 0.5) solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    background: linear-gradient(white 30%, lightgray 60%);
    min-width: 12vw;
    min-height: 12vw;
    cursor: pointer;
    font-size: 1.33vw;
    box-sizing: border-box;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}

.poke-card .number-wrap {
    width: 100%;
    text-align: right;
    padding: 5px 5px 0 0;
    box-sizing: border-box;
}

.poke-card .name-wrap {
    padding: 5px;
    height: 15%;
}

.poke-card .image-wrap {
    width: 8vw;
    height: 8vw;
}

.poke-card .image-wrap img {
    width: 100%;
    height: 100%;
}

@media(max-width: 780px) {
    .poke-card {
        min-width: 25vw;
        min-height: 25vw;
        font-size: 2.66vw;
    }

    .poke-card .image-wrap {
        width: 17vw;
        height: 17vw;
    }
}

@media(max-width: 390px) {
    .poke-card {
        min-width: 36vw;
        min-height: 36vw;
        font-size: 4vw;
    }

    .poke-card .image-wrap {
        width: 25vw;
        height: 25vw;
    }
}
@media(max-width: 325px) {
    .poke-card {
        min-width: 69vw;
        min-height: 69vw;
        font-size: 4vw;
    }

    .poke-card .image-wrap {
        width: 50vw;
        height: 50vw;
    }
}