@use 'sass:math';
@import '../mixins';
@import '../colors';

$gap: 10px;

.create-move {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2*$gap;
    height: 100%;

    .form-wrapper {
        display: flex;
        justify-content: center;
        width: 100%;
        max-height: 500px;
    }

    form {
        display: flex;
        border: 2px solid $light-purple;
        border-radius: $gap;
        padding: 1.3*$gap;
        max-width: 1000px;
        display: flex;
        align-items: center;
        gap: $gap;
        overflow: hidden;
        height: 500px;

        .fields-wrapper {
            border: 2px solid $light-purple;
            border-radius: $gap;
            flex: 1 1 auto;
            display: flex;
            align-items: center;
            flex-direction: column;
            height: 100%;
            gap: 1.3*$gap;
            padding: 2*$gap;
        }
    }

    .fields {
        position: relative;
        width: 100%;
        padding: $gap;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: $gap;

        width: max(min(50%, 300px), 250px);

        .input-item {
            width: 100%;
        }

        label {
            margin-left: .5rem;
        }

        .input-text {
            display: block;
            width: 100%;
        }
    }


    .submit-wrapper {
        position: relative;
        padding-right: $gap;
    }

    .form-result {
        position: absolute;
        top: calc(100% + 10px);
        left: 50%;
        translate: -50% 0;
        max-width: calc(100% - 20px);
        min-height: 1rem;
        text-align: center;
        white-space: normal;
    }

    .error-message {
        color: $pink-blood;
    }

    .success-message {
        color: $success;
    }

    .type-selection-wrapper {
        border: 2px solid $light-purple;
        border-radius: $gap;
        height: 100%;
        width: 250px;
        padding: 10px 8px 10px 10px;

        h4 {
            text-align: center;
            margin-bottom: 10px;
        }
    }

    .type-selection {
        display: flex;
        flex-direction: column;
        gap: $gap;
        height: calc(100% - 32.22px);
        padding-right: 5px;
        overflow-y: scroll;
        @include customScrollbar();

        .type {
            position: relative;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: $gap;
            border-radius: $gap;
            padding: 2px $gap;
        }

        .type {
            padding: $gap;
        }

        .type-img {
            width: 15px;
            aspect-ratio: 1;
            filter: drop-shadow(0 0 2px black)
        }

        .type-name {
            line-height: .8;
            text-shadow: 0 0 3px black;
        }
    }

    .type {
        &:hover .indication.selected {
            display: none;
        }

        &:hover .indication.unselect {
            display: flex;
        }

        &:hover .indication.selectable {
            display: flex;
        }
    }

    .indication {
        position: absolute;
        top: 50%;
        left: 50%;
        translate: -50% -50%;

        width: 30px;
        aspect-ratio: 1;
        border-radius: 100%;

        display: flex;
        align-items: center;
        justify-content: center;

        &.selected {
            background-color: $success;
        }

        &.unselect {
            display: none;
            background-color: $pink-blood;

            i {
                rotate: 45deg;
            }
        }

        &.selectable {
            display: none;
            background-color: rgba($success, .5);
        }
    }

}