@import '../colors';

.auth-request-password-reset {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .auth-title {
        position: static;
        transform: none;
        margin-top: 140px;
        width: 80%;
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 8px;
        margin-top: 49px;
    }

    .error {
        margin-top: 15px;
    }
}